div
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
        md-button.md-raised(ng-click="popupText(1)") Button
        md-button.md-raised.md-primary(ng-click="popupText(2)") Primary
        md-button.md-raised.md-primary(ng-disabled='true', ng-click="popupText(3)") Disabled
        md-button.md-raised.md-warn(ng-click="popupText(4)") Warn
        | root: {{$root.rootName}}
hello-world